
 <div class="row">
   <div class="col-md-8">
    <% unless !@bookmark.i_frame.nil? %>
      <%= raw @bookmark.i_frame %>
    <% end %>
    <% if @bookmark.i_frame.nil? && @bookmark.img_url %>
     <img alt="Icon" class="menu_icon preview" src="<%= @bookmark.img_url %>"/>
    <% end %>
    <br/>
     <%= @bookmark.url %>
       submitted <%= time_ago_in_words(@bookmark.created_at) %> ago 
     </small>
     <br>
     <% if policy(@bookmark).update? %>
      <%= link_to "Edit Bookmark", edit_bookmark_path(@bookmark.id), class: 'btn btn-success' %>
     <% end %>
     <%= link_to "Exit", topic_path(@bookmark.topic_id), class: 'btn btn-warning' %>
     <br>
   </div>
 </div>