
 <div class="row">
   <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6">
    <% if !@bookmark.i_frame.nil? %>
      <%= raw @bookmark.i_frame %>
    <% elsif @bookmark.i_frame.nil? && @bookmark.img_url %>
     <img alt="Icon" class="img-responsive" src="<%= @bookmark.img_url %>"/>
    <% else %>
     <%= link_to image_tag("kitten.jpg", alt: "Cute Kitten", class: "img-responsive") %>
    <% end %>
    <br/>
     <%= @bookmark.url %>
       submitted <%= time_ago_in_words(@bookmark.created_at) %> ago 
     </small>
     <br>
     <% if policy(@bookmark).update? %>
      <%= link_to "Edit Bookmark", edit_bookmark_path(@bookmark.id), class: 'btn btn-success' %>
     <% end %>
     <%= link_to "Exit", topic_path(@bookmark.topic_id), class: 'btn btn-warning' %>
     <br>
   </div>
 </div>