
 <div class="row">
        <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 class="gallery-title">All Topics</h1>
        </div>
        <div align="center">
            <button class="btn btn-default filter-button" data-filter="all">All</button>
        </div>
        <br/>
        
        
     <% @topics.each do |topic| %>
     
       <div class="media">
         <div class="media-body">
           <h4 class="media-heading">
             <h2><%= link_to topic.title, topic %> <small>submitted <%= time_ago_in_words(topic.created_at) %> ago</small></h2>

             <small><%= link_to "Add a bookmark", new_topic_bookmarks_path(topic), class: 'btn-sm btn-success' %></small>
             <br></br>
           </h4>
           <p>Bookmarks:</p>
           <% topic.bookmarks.each do |bookmark| %>
           <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6">
             <% if !bookmark.img_url.nil? %>
               <img alt="Icon" class="img-responsive" src="<%= bookmark.img_url %>"/>
               <% unless bookmark.i_frame.nil? %>
               <p>Click link to watch video</p>
               <% end %>
             <% else %>
               <%= link_to image_tag("kitten.jpg", alt: "Cute Kitten", class: "img-responsive") %>
             <% end %>
             <%= link_to bookmark.url, bookmark_path(bookmark) %>  
             <% if policy(bookmark).destroy? %>
              <%= link_to "Delete Bookmark", topic_bookmarks_path(topic_id: topic.id, id: bookmark.id), method: :delete, class: 'danger', data: { confirm: 'Are you sure you want to delete this bookmark?' } %>        
             <% else %>
             <small>Created by <%= bookmark.user_name %></small>
             <% end %>
             <% if bookmark.user_id != current_user.id %>
              <%= render partial: 'likes/like', locals: { bookmark: bookmark } %>
             <% end %>
            </div>
             
            <% end %>

         </div> <!--end media-body-->
       </div> <!--end media-->
       <div>=====================================</div>
     <% end %>

     </br>
     <%= link_to "Exit", welcome_index_path, class: 'btn btn-warning' %>
 </div>
