
 <div>
   <h2><%= current_user.user_name %></h2>
     <small class="underline">
       member since <%= current_user.created_at.strftime("%B %d, %Y") %>
     </small>
     <br></br>
 </div>
 <div class="row">
   <div class="col-md-8">
     <br>
        <% Topic.all.each do |topic| %>
            <h3><%= topic.title %></h3>
            <h4 class="text-center">My Blockmarks:</h4>
                <% @user_bookmarks.where("topic_id = ?", topic.id).each do |user_bookmark| %>
                    <%= user_bookmark.url %>
                    <%= link_to "Delete Bookmark", topic_bookmarks_path(topic_id: topic.id, id: user_bookmark.id), method: :delete, class: 'danger', data: { confirm: 'Are you sure you want to delete this bookmark?' } %>   
                <% end %>
            <br></br>
            <h4 class="text-center">My Liked Blockmarks:</h4>
            
            <% @liked_bookmarks.each do |liked_bookmark| %>
                <% if liked_bookmark.topic_id == topic.id %>
                    <%= liked_bookmark.url %>
                    <%= render partial: 'likes/like', locals: { bookmark: liked_bookmark } %>
                <% end %>
            <% end %>
            <p>==============================================</p>
        <% end %>
     <br></br>
   </div>
     <div class="col-md-8">
       <%= link_to "Exit", root_path, class: 'btn btn-warning' %>
     </div>
   </div>

